// Based on [Nicolas Gallagher's Pure CSS speech bubbles][1]
// I've only implemented a simple triangle with border that you can mix in and position.
// Definitely can do with some optimization.
// Works only on elements with relative positioning and overflow not hidden.
//
// [1]: http://nicolasgallagher.com/demo/pure-css-speech-bubbles/bubbles.html
//
//
@function convert-direction($direction)
 @if $direction == "south"
 	 @return "bottom"
 @if $direction == "north"
 	 @return "top"
 @if $direction == "east"
   @return "right"
 @if $direction == "west"
   @return "left"


=arrow($direction, $bg-color, $border-color, $border-width, $top, $left, $width: 10px)
  position: relative
  &:before
    content: "\00a0"
    // reduce the damage in FF3.0:
    display: block
    position: absolute
    width: 0
    height: 0
    top: $top
    left: $left
    bottom: auto
    border-width: floor($width / 2)
    border-style: solid
    border-color: transparent
    border-#{convert-direction($direction)}-color: $border-color
  // creates the smaller  triangle
  &:after
    content: "\00a0"
    display: block
    position: absolute
    width: 0
    height: 0
    @if $direction == "south"
      top: $top - $border-width
    @else if $direction == "north"
      top: $top + $border-width
    @else
      top: $top
    @if $direction == "east"
      left: $left - $border-width
    @else if $direction == "west"
      left: $left + $border-width
    @else
      left: $left
    bottom: auto
    border-width: floor($width / 2)
    border-style: solid
    border-color: transparent
    border-#{convert-direction($direction)}-color: $bg-color
