!!! 5
%html
  %head
    %title File Field Mask
    %link{:rel => "stylesheet", :href => "file-field-mask.css"}
  %body
    %section#container
      %aside
        %p File Field Mask Demo - kill that unwanted standard look.
      %ol#demo
        %li.file
          %label File:
          #fake-file-field
            .input
          %input{:type => 'file'}           