!!! 5
%html
  %head
    %title Button
    %link(rel="stylesheet" href="button.css")/
  %body
    %p
      The buttons below look amazing on Firefox and Safari and decent on Internet Explorer 6-8.
    %p
      %a.button
        Button
    %p
      %a.button.green
        Button
    %p
      %a.button.red
        Button
    %p
      %a.button.orange
        Button
