@import "../button/_button"

=multi-line-button($base-color)
  +button($base-color)
  padding: 12px 15px
  .title
    font-size: 24px
    font-weight: bold
    display: block
    +opacity(0.9)
  .subtitle
    font-size: 14px
    display: block
    margin-top: 4px
    +opacity(0.7)
  &:hover
    .title
      +opacity(1)
    .subtitle
      +opacity(0.8)
  &:active
    padding: 13px 15px 11px
