!!! 5
%html
  %head
    %title Multi-Line Button
    %link(rel="stylesheet" href="multi-line-button.css")/
  %body
    %p
      The buttons below look amazing on Firefox and Safari and decent on Internet Explorer 6-8.
    %p
      %a.multi-line-button{:href=>"#", :style=>"width:14em"}
        %span.title Start Free Trial
        %span.subtitle 30-days free! Signup in 60 seconds
      
      %a.multi-line-button.green{:href=>"#", :style=>"width:14em"}
        %span.title Start Free Trial
        %span.subtitle 30-days free! Signup in 60 seconds
      
      %a.multi-line-button.red{:href=>"#", :style=>"width:14em"}
        %span.title Start Free Trial
        %span.subtitle 30-days free! Signup in 60 seconds
      
      %a.multi-line-button.orange{:href=>"#", :style=>"width:14em"}
        %span.title Start Free Trial
        %span.subtitle 30-days free! Signup in 60 seconds