/* line 4, search-input.sass */
input[type=search], input.search {
  font-size: 11px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #cccccc;
  border-top-color: #999999;
  border-left-color: #b0b0b0;
  border-right-color: #bbbbbb;
  background: white url('../../images/search.png?1287280523') 4px center no-repeat;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 inset;
  width: 180px;
  padding: 2px 8px 2px 20px;
}
