!!! 5
%html
  %head
    %title Search Input
    %link(rel="stylesheet" href="search-input.css")/
  %body
    %p
      The search box below should look similar on Firefox, Safari, and other browsers that support CSS3.
    %form
      %input(type="search" name="q" results=0)/